.root {
  -fx-background-color: black;
}

.button {
  -fx-background-color: white; /* Background color */
  -fx-border-color: darkgray; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

.color-picker {
  -fx-background-color: white; /* Background color */
  -fx-border-color: darkgray; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

.combo-box {
  -fx-background-color: white; /* Background color */
  -fx-border-color: darkgray; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

.tree-cell {
  -fx-background-color: black; /* Background color */
  -fx-text-fill: white;
  -fx-border-color: black; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

#turtle-pane {
  -fx-background-color: white; /* Background color */
  -fx-border-color: darkgray; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

#variable-content-box {
  -fx-background-color: black; /* Background color */
  -fx-text-fill: white;
  -fx-border-color: black; /* Border color */
  -fx-border-width: 1px; /* Border width */
}

#command-content-box {
  -fx-background-color: black; /* Background color */
  -fx-text-fill: white;
  -fx-border-color: black; /* Border color */
  -fx-border-width: 1px; /* Border width */
}
